ul .dropdown-menu {
  display: none;
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute; top: 100%;

  li {
    background-color: $navbar;
    width: 100%;

    &:hover {
      background-color: darken($navbar, 5%);
    }
  }
}

.dropdown:hover > .dropdown-menu{
  display: block;
}
