<div class="jumbotron">
	<h1>Helpful tips for tracking me down</h1>
</div>
<a href="mailto:nickrutowski@gmail.com?Subject=I%20Admire%Your%20lifestyle">
	NickRutowski@gmail.com
</a>	

<script type="text/javascript">
        $(".contact-button").addClass("active");
</script>

