<div class="jumbotron">
   <h1>Under Construction</h1>
   <p>OOoooooooo today I put up some generic bootstrap</p>
   <p>Truly greatness approaches</p>
</div>

<script type="text/javascript">
        $(".about-button").addClass("active");
</script>
