<div class="jumbotron">
   <h1>Nick Rutowski</h1>
   <h2>Web Developer - Geek - Maker of Things</h2>
</div>

<section>

   <p>
      Hi! I'm Nick Rutowski, some people know me as Badsauce or Codesauce (most of those people are me).
   </p>

   <p>
      I'm a big fan of web design, I've dedicated a lot of time to creating enterprise websites using
      <a href="http://www.asp.net/mvc">
         ASP.NET MVC
      </a>.
      I've also spent some time getting paid to build sites using
      <a href="http://cakephp.org/">
         CakePHP
      </a>
      on the 
      <a href="http://en.wikipedia.org/wiki/LAMP_(software_bundle)">
      LAMP
      </a>
      stack - Those were dark days, I try not to think about them. 
   </p>
   
   <p>
      In my free time I have messed around with a slew of other web technologies, on the MVC front I've dabbled in
      <a href="https://www.djangoproject.com/">
         Django
      </a>
      and recently started exploring the 
      <a href="http://nodejs.org/">
         Node.js
      </a>
      space with 
      <a href"http://sailsjs.org/#/">
         Sails.js
      </a>
      (This site is built on sails =O). On the subject of javascript, I've done some data visualization with
      <a href="http://d3js.org/">
         d3.js
      </a>
      and loved every minute of it.
   </p>

   <p>
     Like most students,
     <a href="https://isocpp.org/">C++</a>
     was the language with which I experienced the pure unadulterated joy of learning the finer details of pointer logic.
     Unlike most students, I got to get my hands dirty writing a
     <a href="http://wsgi.readthedocs.org/en/latest/">WSGI</a> 
     server and a companion application to process 
     <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html">http requests</a>
     in
     <a href="https://www.python.org/">python</a>.
     An experience which really taught me to respect the work done by web frameworks. 
   </p>


   <p>
      Places you can probably find me: 
      <a href="mailto:nickrutowski@gmail.com?Subject=I%20Admire%Your%20lifestyle">
         Email
      </a>,
      <a href="https://github.com/Badsauce">
         Github
      </a>, or
      <a href="https://twitter.com/BadSauce">
         Twitter
      </a>
      . 
   </p>

</section>

<section id="TODO">
	<h2>//TODO</h2>
	<ul>
		<li>Theme up the site, make it pretty and home-like</li>
		<li>Finish populating the project page</li>
		<li>Finish telling my exciting life story on the about page</li>
		<li>See about using Trello's API to populate this list</li>
	</ul>
</section>

<script type="text/javascript">
        $(".about-button").addClass("active");
</script>
