<div class="container">
    <div class="main">
        <h1 id="main-title"><%= __('Welcome') %></h1>
        <h2>Under Construction</h2>
        <p>I'm totes gonna do some website here guys, just not today</p>
	<p>Or tomorrow, or the day after that...</p>
    </div>
</div>
