section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  padding-top: 3em;
}

.underCon {
  background: #d35400;
  display: inline-block;
  padding: .5em;
}

.underCon h3 {
  margin: 0;
}

.underCon a {
  text-shadow: 2px 2px rgba(0,0,0,.3);
}

.projectBox {
  border-bottom: solid rgba(256,256,256,.3);
  padding: 0px 10px;
  margin: 10px 0px;
}

.help {
  text-align: center;
}

.four-oh-four {
  display: block;
  margin: auto;
  padding-bottom: .5em;
}
