/* line 5, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_base.scss */
body {
  background-color: #060606;
  color: #73fff1;
}

/* line 6, ../sass/components/_base.scss */
a {
  color: #96d0d8;
}
/* line 9, ../sass/components/_base.scss */
a:visited {
  color: #cccac6;
}

/* line 14, ../sass/components/_base.scss */
section {
  max-width: 960px;
}

/* line 1, ../sass/components/_nav.scss */
header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: none;
  height: 20vh;
  min-height: 100px;
  padding-bottom: .5em;
  border-bottom: 1px solid rgba(1, 2, 3, 0.5);
  width: 100%;
}

/* line 19, ../sass/components/_nav.scss */
.nav ul, .nav a {
  z-index: 11;
}
/* line 23, ../sass/components/_nav.scss */
.nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  padding: 2.5vh 0;
}
/* line 32, ../sass/components/_nav.scss */
.nav li {
  text-align: center;
  padding: 2%;
  width: 50%;
}

/* line 39, ../sass/components/_nav.scss */
.navBackdrop {
  position: absolute;
  height: 10vh;
  min-height: 50px;
  background-color: #343434;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/* line 50, ../sass/components/_nav.scss */
.logo {
  width: 19vh;
  height: 19vh;
  padding: .5em;
  margin: 2%;
}

/* line 57, ../sass/components/_nav.scss */
.logo-link {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* line 61, ../sass/components/_nav.scss */
.desktop {
  display: none;
}
/* line 64, ../sass/components/_nav.scss */
.desktop li {
  display: inline-block;
  border: 1px solid #EFDA51;
  border-radius: .2em;
  font-size: 150%;
  padding: .5em;
  margin-right: 1em;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}
/* line 73, ../sass/components/_nav.scss */
.desktop li:hover {
  background: #DEB73D;
}
@media (min-width: 800px) {
  /* line 61, ../sass/components/_nav.scss */
  .desktop {
    display: block;
  }
}

/* line 83, ../sass/components/_nav.scss */
.mobile {
  display: block;
}
@media (min-width: 800px) {
  /* line 83, ../sass/components/_nav.scss */
  .mobile {
    display: none;
  }
}
/* line 90, ../sass/components/_nav.scss */
.mobile button {
  width: 1.7em;
  height: 1.7em;
  border: 1px solid #EFDA51;
  border-radius: .2em;
  appearance: none;
  background: none;
  text-decoration: none;
  font-size: 300%;
  color: #EFDA51;
}

/* line 103, ../sass/components/_nav.scss */
.mobile-menu {
  display: none;
}
/* line 106, ../sass/components/_nav.scss */
.mobile-menu li {
  color: #EFDA51;
  background-color: #343434;
  height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 200%;
  border-bottom: 1px solid rgba(1, 2, 3, 0.5);
}

/* line 1, ../sass/components/_dropdown.scss */
ul .dropdown-menu {
  display: none;
}
