<div class="jumbotron">
  <h1>This is where projects live!</h1>
</div>

<div class="projectBox">
	<h2>BookBrainer.com - Technology Proof of Concept</h2>
	
	<p>Technologies used: PHP and Twillio API</p>
	<p>
		Over the course of a 
		<a href="http://startupweekend.org/">startup weekend</a> 
		I produced a sample site where users could submit their phone number to receive a multiple choice question via sms. 
		Upon receiving the question on their phones users could text back A B C or D and the server would grade their response.
	</p>
</div>

<div class="projectBox">
	<h2>Gitlab to Trello webhook</h2>
	
	<p>Technologies used: Python WSGI, Gitlab API, and Trello API</p>
	<p>
		At MSU Hackathon Spring 2014 I modified a project to create a web server that consumes push notifcation webhooks from Gitlab and produces Trello cards.
		The existing solution used Python's built in test web server, I modified the code to allow it to be run as a WSGI application.
		I added additional parsing logic to better utilize the incoming JSON from Gitlab to make more informative posts to Trello.
	</p>
</div>


<div class="projectBox">
	<h2>This website(so meta!)</h2>
	
        <p>Technologies used: Sails.js and Bootstrap</p>
	<p>I created this site to showcase my projects, host sample code, and house my resume and blog.
	It is currently just static pages but I have plans of to add dynamic content.</p>
</div>

<div class="projectBox">
	<h2>The Stalk Exchange</h2>
	
	<p>Technologies used: LAMP stack</p>
	<p>
		My first web application, this app alloweded users to create an account and post the price of turnips in their Animal Crossing: New Leaf game.
		The application expires prices that are for the current day and displays the highest available prices and their associated users.
	</p>
</div>

<script type="text/javascript"> 
	$(".projects-button").addClass("active"); 
</script>
