<div class="jumbotron">
  <h1>This is where projects live!</h1>
</div>

<div class="projectBox">
	<h2>BookBrainer.com - Technology Proof of Concept</h2>
	
	<p>Details coming soon</p>
</div>

<div class="projectBox">
	<h2>Gitlab to Trello webhook</h2>
	
	<p>Details coming soon</p>
</div>


<div class="projectBox">
	<h2>This website(so meta!)</h2>
	
	<p>Details coming soon</p>
</div>

<div class="projectBox">
	<h2>The Stalk Exchange</h2>
	
	<p>Details coming soon</p>
</div>

<script type="text/javascript"> 
	$(".projects-button").addClass("active"); 
</script>
